<ion-content>
      <swiper-container class="principal">
        <swiper-slide >
          <h1 class="titulo1">FZ 250 ABS</h1>
          <img class="fz250" src="/assets/img/fz250.png">
          <h2 class="fichat">Ficha tecnica</h2><ion-icon name="construct-outline"></ion-icon>
          <p>La Yamaha FZ25 es una motocicleta llena de tecnología para que disfrutes en el día a día: 
            motor liviano Blue Core con recubrimiento de níquel, chasis tipo diamante, 
             oble freno de disco con ABS y suspensión mono cross para mayor estabilidad.</p>
             <ion-button color="dark" shape="round"><h2 class="fichat">Ficha tecnica</h2></ion-button>
        </swiper-slide>
        <swiper-slide>
          <h1 class="titulo1">MT 09</h1>
          <img class="mt09" src="/assets/img/mt09.png">
          <h2 class="fichat">Ficha tecnica</h2>
          <p>El vanguardista estilo Hyper Naked responde al concepto purista de menos es más, 
            llevando la MT-09 al siguiente nivel con una carrocería agresiva y minimalista.</p>
          <ion-button color="dark" shape="round"><h2 class="fichat">Ficha tecnica</h2></ion-button>
        </swiper-slide>
        <swiper-slide>
          <h1 class="titulo1">XTZ 250</h1>
          <img class="xtz250" src="/assets/img/xtz250.png">
          <p>La XTZ 250 posee un motor de 249 cc, 4 tiempos, un cilindro, SOHC refrigerado por aire y aceite,
            el cual alcanza 20,4 HP a 8.000 rpm y 20,5 Nm de torque a 6.500 rpm.</p>
          <ion-button color="dark" shape="round"><h2 class="fichat">Ficha tecnica</h2></ion-button>
        </swiper-slide>
        <swiper-slide>
          <ion-icon class="close-icon" name="close" (click)="finish()"></ion-icon>
          <h1 class="titulo1">R 15</h1>
          <img class="" src="/assets/img/r15.png">
          <p>La icónica Yamaha R15, mejorada no solo aerodinámicamente si no también en su posición de manejo, 
            permitiendo tener una excelente postura deportiva, sin sacrificar la comodidad del conductor.</p>
          <ion-button color="dark" shape="round"><h2 class="fichat">Ficha tecnica</h2></ion-button>
        </swiper-slide>
       </swiper-container>
 </ion-content>