<ion-content>
 <swiper-container>
  <swiper-slide>
    <h1 class="titulo1">hola slide 1</h1>
    <img src="src/assets/img/fz250.jpg">
    <ion-icon name="car-sport"></ion-icon>
    <p>hola soy el slide uno de la librerira swiper</p>
  </swiper-slide>
  <swiper-slide>
    <h1>hola slide 2</h1>
    <ion-icon name="logo-windows"></ion-icon>
    <p>hola soy el slide dos de la librerira swiper</p>
  </swiper-slide>
  <swiper-slide>
    <h1>hola slide 3</h1>
    <ion-icon name="logo-gitlab"></ion-icon>
    <p>hola soy el slide tres de la librerira swiper</p>
  </swiper-slide>
 </swiper-container>
</ion-content>
