<ion-content>
 <swiper-container class="principal">
  <swiper-slide>
    <h1 class="titulo1">FZ 250</h1>
    <img class="fz250" src="/assets/img/fz250.png">
    <h2 class="fichat">Ficha tecnica</h2>
    <table class="tabla1">
      <tr>
        <td>Cilindraje</td>
        <td>249 cc</td>        
      </tr>
      <tr>
        <td>Peso (con aceite y tanque de gasolina lleno)	</td>
        <td>149 kg</td>
      </tr>
    </table>
  </swiper-slide>
  <swiper-slide>
    <h1 class="titulo1">MT 09</h1>
    <img class="mt09" src="/assets/img/mt09.png">
    <h2 class="fichat">Ficha tecnica</h2>
  </swiper-slide>
  <swiper-slide>
    <h1 class="titulo1">hola slide 3</h1>
    <ion-icon name="logo-gitlab"></ion-icon>
    <p>hola soy el slide tres de la librerira swiper</p>
  </swiper-slide>
  <swiper-slide>
    <h1 class="titulo1">hola slide 4</h1>
    <p>hola soy el slide cuatro de la librerira swiper</p>
  </swiper-slide>
 </swiper-container>
</ion-content>
