<ion-header >
  <ion-toolbar>
    <ion-title>Actualizar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form action="">
    <ion-input label="Nombre" label-placement="floating" fill="solid"  ></ion-input>
    <ion-input label="Apellido" label-placement="floating" fill="solid" placeholder="castro"></ion-input>
    <br>
    
    <ion-button color="light" shape="round" type="submit" (click)="updateuser()" >Actualizar</ion-button>
    <ion-button color="light" shape="round" type="submit" (click)="cancela()" >Cancelar</ion-button>
  </form>
</ion-content>
